.container {
    padding-inline: 15px;

    @media (width > 768px){
        padding-inline: 39px;
    }
    @media (width > 1280px){
        padding-inline: 275px;
    }
    &_tips {
        padding-top: 40px;
        padding-bottom: 15px;
        font-size: 14px;
        color: #8ccbea;
    
        @media (width > 1280px){
            font-size: 16px;
        }
    }
    &_title {
        font-family: "roboto slab" serif;
        font-size: 24px;
        padding-bottom: 20px;
    
        @media (width > 768px){
            font-size:  26px;
        }
        @media (width > 1280px){
            font-size: 32px;
        }
    }
    &_text {
        font-size: 18px;
        padding-bottom: 26px;
        color: #4a4a4a;
    
        @media (width > 768px){
            font-size: 20px;
        }
    }
    &_btn_go:hover {
        background-color: #56aee9; 
        transform: scale(1.3); 
    }
    &_btn_go {
        transition: background-color 0.8s ease, transform 0.8s ease;
        font-family: "Roboto", serif;
        font-weight: 500;
        font-style: normal;
        font-size: 20px;
        font-weight: bold;
        background-color: white;
        color: #f26002;
        border-radius: 22.5px;
        width: 76px;
        height: 45px;
        border:2px solid #f26002;
        margin-bottom: 35px;
        transform: rotate(0deg);
    
        @media (width > 768px){
            width: 91px;
            height: 45px;
        }
        @media (width > 1280px){
            width: 160px;
            height: 45px;
        }
    }
 }

