<footer class="footer">
  <section>
    <a href="#front_page">
      <button class="footer_btn_up">
        <img src="./images/ico-arrow.svg" alt="up arrow" />
      </button>
    </a>
  </section>
  <div class="footer_nav">
    <div class="footer_links">
      <ul class="footer_links_list">
        <li><a class="footer_link" href="http://adalab.es">ARTICLES</a></li>
        <li><a class="footer_link" href="http://adalab.es">BOOKS</a></li>
        <li><a class="footer_link" href="http://adalab.es">EVENTS</a></li>
        <li><a class="footer_link" href="http://adalab.es">REASONS</a></li>
        <li><a class="footer_link" href="http://adalab.es">TIPS</a></li>
      </ul>
    </div>

    <div class="footer_networks">
      <ul class="footer_networks_list">
        <li><a class="footer_link" href="http://adalab.es">TWITTER</a></li>
        <li><a class="footer_link" href="http://adalab.es">INSTAGRAM</a></li>
        <li>
          <a class="footer_link" href="http://adalab.es">MASTODON.SOCIAL</a>
        </li>
      </ul>
    </div>

    <div class="footer_copy">
      <ul class="footer_copy_list">
        <li>©2022</li>
        <li>we ❤️ components</li>
      </ul>
    </div>
  </div>
</footer>
