<main>
  <section class="container">
    <p class="container_tips">Insomnia Tips</p>
    <h1 class="container_title">Looking Through A Window</h1>
    <p class="container_text">
      Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at
      luctus ex diam nec lectus. Vivamus semper sodales rutrum.
    </p>
    <button class="container_btn_go">Go</button>
  </section>

  <section class="spotlight" id="section_3">
    <h1 class="spotlight_title">3 Reasons To Purchase</h1>

    <div class="spotlight_articles">
      <article class="spotlight_article">
        <h2 class="spotlight_subtitle">Ut sed metus</h2>
        <p class="spotlight_text">Lorem ipsum dolor sit amet, consecteur.</p>
      </article>

      <article class="spotlight_article">
        <h2 class="spotlight_subtitle">Curabitur ac erat</h2>
        <p class="spotlight_text">Mauris mattis urna quis lorem molestie.</p>
      </article>

      <article class="spotlight_article">
        <h2 class="spotlight_subtitle">Morbi dictum</h2>
        <p class="spotlight_text">Aliquam in dolor et dolor tincidunt.</p>
      </article>
    </div>

    <button class="spotlight_btn_reasons">More reasons</button>
  </section>
</main>
