* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
:root {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;  
}
.header {
    align-items: center;
    color: white;
    background-image: url(../images/cover.jpeg);
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.menu a {
   
    position: fixed;
    padding: 10px;
    background-color: #0271bc;
    color: white;
    font-size: 15px;
    text-decoration: none;
}
input .menu {
    display: none;
}
.title {
    font-family: "Roboto Slab", serif;
    font-size: 42px;
    text-align: center;
    padding-top: 510px;
    padding-bottom: 35px;
    width: 320px;
    margin-left: auto;
    margin-right: auto;

    @media (width > 768px) {
    
        font-size: 80px;
        padding-top: 380px;
    }
}
.header h3 {
    font-family: "roboto regular" serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16.5px;
    text-align: center;
    padding-bottom: 35px;

    @media (width > 768px){
        font-size: 24px;
        margin-left: 220px;
        margin-right: 225px;
        background-size: cover;
    }
}
.down {
    position: relative;
    left: 45%;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: white;
    background-color: white;
    padding: 10px;
}
.container {
    padding-inline: 15px;

    @media (width > 768px){
        padding-inline: 35px;
    }

}
.tips {
    padding-top: 40px;
    padding-bottom: 15px;
    font-size: 14px;
    color: #8ccbea
}
.container__title {
    font-family: "roboto slab" serif;
    font-size: 24px;
    padding-bottom: 20px;


    @media (width > 768px){
        font-size:  26px;
}
}
.container__text {
    font-size: 18px;
    padding-bottom: 26px;
    color: #4a4a4a;

    @media (width > 768px){
        font-size: 20px;
    }
}
.go:hover {
    background-color: #56aee9; 
    transform: scale(1.3); 
}
.go {
    transition: background-color 0.8s ease, transform 0.8s ease;
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    color: #f26002;
    border-radius: 22.5px;
    width: 76px;
    height: 45px;
    border:2px solid #f26002;
    margin-bottom: 35px;
    transform: rotate(0deg);
}
.container-1 {
    text-align: center;
    background-color:  #eff9ff;
    padding-top: 29px;
    padding-bottom: 70px;
}
.container-1 h1 {
    font-family: "Roboto slab", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    padding-bottom: 49px;

    @media (width > 768px){
        font-size: 26px;
        padding-bottom: 39px;
}
}
.all-article {
    display: grid;

    @media (width > 768px){
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        margin-inline: 35px;

}
}
.article__title {
    font-family: "Roboto slab", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
   

    @media (width > 768px){
        font-size: 24px;
        padding-bottom: 15px;
    }
    
}
.article__text {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    padding-inline: 70px;
    padding-bottom: 41px;

    @media (width > 768px){
        font-size: 20px;
        padding: 0;
        padding-bottom: 50px;
    }
}
.reasons:hover {
    transform: rotate(45deg);
    background-color: #56aee9;
}
.reasons {
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
    border-radius: 23px;
    font-size: 20px;
    height: 44px;
    width: 190px;
    color: white;
    background-color: #f26002;
    border: solid #f26002;
    transform: rotate(0deg);
    transition: transform 0.4s ease-in-out;

   
}
.footer {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    background-color: #304268;
    color: white;
    text-align: center;
    line-height: 1.88;
}
.up {
    position: relative;
    top: -20px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: white;
    background-color: white;
}
.nav-footer a {
    color: white;
    text-decoration: none;
}
.links-footer {
    padding-top: 24px;
    padding-bottom:30px ;
}
.copy {
    font-size: 14px;
    padding-top: 32px;
    padding-bottom: 36px;
}
